<section class="login-container">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" formControlName="email">
      <mat-hint>{{ERROR_HINT_MESSAGES.HINT_EMIL}}</mat-hint>
      <mat-error>{{ERROR_HINT_MESSAGES.INVALID_EMAIL}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Your password" formControlName="password">
      <mat-error>{{ERROR_HINT_MESSAGES.INVALID_PASSWORD}}</mat-error>
    </mat-form-field>

    <button *ngIf="!(isLoading$ | async)" type="submit" color="primary" [disabled]="loginForm.invalid" mat-raised-button>
      Submit
    </button>
    <app-spinner [showSpinner]="isLoading$ | async" [diameter]="30"></app-spinner>
  </form>
</section>
