a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: #d3d3d3;
}

.nav-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-label {
  display: inline-block;
  padding-left: 10px;
}
